.cover__link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 245px 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1280px) {
    .cover {
        max-width: 100vw;
        padding: 195px 232px;
    }
  }
  @media (max-width: 1024px) {
    .cover {
        padding: 115px 104px;
    }
  }
  @media (max-width: 500px) {
    .cover {
        padding: 33px 16px;
        margin-bottom: 64px;
    }
  }