.photo-grid {
    width: 1184px;
    height: 671px;
    margin: 92px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}
@media (max-width: 1280px) {
    .photo-grid {
        width: 928px;
        height: 942px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 14px;
    }
  }
  @media (max-width: 1024px) {
    .photo-grid {
        width: 720px;
        height: 1664px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 16px;
    }
  }
  @media (max-width: 768px) {
    .photo-grid {
        width: 288px;
        height: 2724px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 12px;
    }
  }