.header__logo {
    background-image: url(../../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 425px) {
    .header__logo {
       width: 142px;
       height: 42px;
       background-image: url(../../../images/__logo-mobile.svg);
    }
  }