.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 48px 56px 48px;
    max-width: 1184px;
}
@media (max-width: 800px) {
  .header {
      margin: 28px 24px 48px;
    }
  }
@media (max-width: 425px) {
    .header {
        margin: 16px 16px 48px 16px;
      }
    }