.footer__copyright {
    max-width: 186px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: right;
}
@media (max-width: 768px) {
    .footer__copyright {
        line-height: 14px;
        text-align: left;
    }
  }