.lead__subtitle {
    margin: 32px auto 64px;
    max-width: 640px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
  }
  @media (max-width: 720px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
  }