.cover {
    max-width: 1184px;
    margin: 92px auto;
    margin-bottom: 92px;
    position: relative;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
}
.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
}
.cover:hover::before {
    opacity: 0.8;
}
@media (max-width: 800px) {
    .cover {
        margin-bottom: 88px;
    }
  }
@media (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
  }
@media (max-width: 500px) {
    .cover {
        margin-top: 64px;
        margin-bottom: 64px;
    }
  }