.place__url-heading {
    margin: 0 0 12px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    .place__url-heading {
       line-height: 12px;
    }
  }